<div class="row">
    <div class="col-8 border text-center">
<h1>This first heading <span class="text-muted">will catch your eye</span></h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem quaerat quae ratione, sint magni deleniti veniam necessitatibus totam nisi praesentium repellendus soluta, minus, fuga quidem dignissimos beatae doloribus maxime quisquam.</p>
    </div>
    <div class="col-4 border text-center">
        
<img class="rounded-circle" width="300px" src="assets/img/1.jpg" alt="breaking bad">

    </div>
</div>