<!-- your html code here -->
<div class="container">
    <h1><i>Porfolio</i></h1>
    <p>¡Estamos en obras!... disculpen las molestias.
        Este documento está siendo editado, posiblemente contenga carencias y defectos.</p>
    <div class="row d-flex">
        <div class= "col d-flex justify-content-start">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Procesando Proyecto</h5>
                    <p class="card-text">¿Quieres participar en la elaboración de este documento? Para más información
                        sobre
                        como ayudar o como empezar a hacerlo, consultar.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

        <div class= "col d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Procesando Proyecto</h5>
                    <p class="card-text">¿Quieres participar en la elaboración de este documento? Para más información
                        sobre como ayudar o como empezar a hacerlo, consultar.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class= "col d-flex justify-content-end">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">¿Quieres participar en la elaboración de este documento? Para más
                        información sobre como ayudar o como empezar a hacerlo, consultar.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>